<div *ngIf="mascota.tipo == 'Gato'" class="gato">
    <h1> Nombre {{mascota.nombre}} </h1>
    <img src={{mascota.pathFoto}}>
    <h3>Es un {{mascota.tipo}} </h3>
</div>

<div *ngIf="mascota.tipo == 'Perro'" class="perro">
    <h1> Nombre {{mascota.nombre}} </h1>
    <img src={{mascota.pathFoto}}>
    <h3>Es un {{mascota.tipo}} </h3>
</div>

<div *ngIf="mascota.tipo == 'Pez'" class="pez">
    <h1> Nombre {{mascota.nombre}} </h1>
    <img src={{mascota.pathFoto}}>
    <h3>Es un {{mascota.tipo}} </h3>
</div>